.dataset-list .popover .nums {

  /* We're reusing the .nums class from the dataset read page,
   * but we don't want the border, margin and padding, get rid of them. */
  border: none;
  margin: 0;
  padding: 0;

  /* We want the license and numbers to appear side by side, so float the
   * numbers list to the left and make it take up just over half of
   * the width of the popover. */
  float: left;
  width: 55%;
}

.dataset-list .popover .inspect-datacard {

  /* Float the "Go to dataset" button to the right side of the popover,
   * this puts some space between the two buttons. */
  float: right;
}

.compare-datacard {
  background-color: #e56666; /* Magenta */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.compare-datacard:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.compare_datacard:disabled {
  background: #dddddd;
}

.compare-datacard .popover .dcstyle {
    font-size: 11pt; 
    font-family: Arial;
    border-collapse: collapse; 
    border: 1px solid silver;
}

.dataframe {
    width: auto;
    overflow:scroll;
}

.dcstyle td, th {
    padding: 5px;
}

.dcstyle tr:nth-child(even) {
    background: #E0E0E0;
}

.dcstyle tr:hover {
    background: silver;
    cursor: pointer;
}
