{% ckan_extends %}

{% block extras %}
{% resource 'datacard/datacard_compare.css' %}
 <section class="datacard-info">
  <h3>{{ _('Datacard') }}</h3>
  {% set datacard = h.datacard_build_datacard_spreadsheet(pkg_dict) %}
  {% if datacard is none %}
    <dt>No datacard found</dt>
    <dd>Did you add a resource?</dd>
  {% else %}
    <dl>
    {% for (group, table) in datacard.items() %}
      <dt>{{ group }}</dt>
      <dd>{{ table | safe }}</dd>
    {% endfor %}
    </dl>
  {% endif %} 
 </section>
{% endblock %}
