{# The contents for a dataset popover.

   id - the id of the dataset
   num_resources - the dataset's number of resources
   license_title - the dataset's license title

#}
<div class="context-info">
  <div class="nums">
    <dl>

      <dt>{{ _('Followers') }}</dt>
      <dd>{{ h.follow_count('dataset', id) }}</dd>

      <dt>{{ _('Resources') }}</dt>
      <dd>{{ resources }}</dd>

    </dl>
  </div>

  <div class="clearfix"></div>

  {{ h.follow_button('dataset', id) }}

  <a class="btn inspect-datacard"
     href="{{ h.url_for(controller='package', action='read', id=id) }}">
    <i class="fa fa-arrow-circle-right"></i>
    Inspect Datacard
  </a>

</div>
