{% ckan_extends %}

{% if q is not defined %}{% set q = c.q %}{% endif %}
{% if fields_grouped is not defined %}{% set fields_grouped = c.fields_grouped %}{% endif %}
{% if search_facets is not defined %}{% set search_facets = c.search_facets %}{% endif %}
{% if facet_titles is not defined %}{% set facet_titles = c.facet_titles %}{% endif %}
{% if facet_descriptions is not defined %}{% set facet_descriptions = h.datacard_get_facet_descriptions() %}{% endif %}
{% if translated_fields is not defined %}{% set translated_fields = c.translated_fields %}{% endif %}
{% if remove_field is not defined %}{% set remove_field = c.remove_field %}{% endif %}
{% if sort_by_selected is not defined %}{% set sort_by_selected = c.sort_by_selected %}{% endif %}
{% if fields is not defined %}{% set fields = c.fields %}{% endif %}
{% if page is not defined %}{% set page = c.page %}{% endif %}

{% block form %}
  {% set facets = {
    'fields': fields_grouped,
    'search': search_facets,
    'titles': facet_titles,
    'translated_fields': translated_fields,
    'remove_field': remove_field }
  %}
  {% set sorting = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Resource Count Ascending'), 'datacard_group1_metric asc'),
    (_('Resource Count Descending'), 'datacard_group1_metric desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
  %}
  {#
    (_('Resource Count Ascending'), 'datacard.group1.metric asc'),
    (_('Resource Count Descending'), 'datacard.group1.metric desc'),
  #}
  {% snippet 'snippets/search_form.html', type='dataset', query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, facets=facets, show_empty=request.params, error=query_error %}
{% endblock %}

{% block package_search_results_list %}
    {{ h.snippet('package/snippets/datacard_package_list.html', packages=page.items) }}
{% endblock %}

{% block secondary_content %}
<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], description=facet_descriptions.get(facet, ''), name=facet) }}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}

